<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
 <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
 <title><%= SITE_NAME -%></title>
 <%= stylesheet_link_tag 'application' %>
 <%= yield :head %>
</head>
	<body>
		<p>
		<% if logged_in? %>
		Logged in as:
		<%= link_to h(current_user.login.capitalize), user_path(current_user) %>
		<%= link_to 'Log Out', logout_url %>
		<% else %>
		Welcome! 
		<%= link_to 'Log In', new_session_path %> 
		or 
		<%= link_to 'Sign Up', new_user_path %>
		<% end %>
		</p>		
		
		<%= yield(:page_header) %>
		
		<% flash.each do |key,value| %>
		<div id="flash" class="flash_<%= key %>" >
			<span class="message"><%= value %></span>
		</div>
		<% end -%>		

		<%= yield :layout %>
  </body>
</html>
